__pycache__/
*.pyc
*.pyo
*.pyd
.Python

.venv/
venv/
env/
.env
.envrc

.pytest_cache/
.coverage
coverage.xml
htmlcov/

ml-app/model/artifacts/*.joblib
*.log

.DS_Store
.idea/
.vscode/

bandit-report.json
trivy-report.*
